@page "{id?}"
@model ITS.Sample1WebApplication.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="Input.Code"></label>
        <input class="form-control" asp-for="Input.Code" />
        <span class="text-danger" asp-validation-for="Input.Code"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input class="form-control" asp-for="Input.Name" />
        <span class="text-danger" asp-validation-for="Input.Name"></span>
    </div>


    <button type="submit" class="btn btn-primary">Salva</button>

</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}